


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Forget Password</title>
    <link rel="stylesheet" href="/static/signup.css">
</head>
<body>
    <form method="POST">
        <div class="card">
          <div class="form">
            <h3>Enter your email</h3>
            
            <div class="input-field">
              <i class="fa fa-envelope"></i>
              <input type="text" name="id" placeholder=" email">
          </div>
          
      
          <button>Submit</button>
          
          </div>
        </div>
      </form>
    
</body>
</html>