<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add note</title>
    <style>
        table,td{
           border: 1px solid black;
           border-collapse: collapse;
       }
       .button-52 {

background-color: #04AA6D;
color: white;
padding: 4px 20px;
border: none;
border-radius: 2px;
cursor: pointer;

}
    </style>
<body>
    <a href="{{url_for('adminhome')}}"><button class="button-52">Back</button></a>
    <center><h1>Products Status</h1></center>
        <table>
            
            <tr>
                <th>item id</th>
                <th>name</th>
                <th>discription</th>
                <th>quantity</th>
                <th>category</th>
                <th>price</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            {% for i in items %}
            <tr>
                <td>{{i[0]}}</td>
                <td>{{i[1]}}</td>
                <td>{{i[2]}}</td>
                <td>{{i[3]}}</td>
                <td>{{i[4]}}</td>
                <td>{{i[5]}}</td>
                <td><a href="{{url_for('updateproducts',itemid=i[0])}}">Update</a></td>
                <td><a href="{{url_for('deleteproducts',itemid=i[0])}}">Delete</a></td>
                
            </tr>
            {% endfor %}
        </table>
       
        
</body>
</html>